$snake-col: rgb(131, 199, 28);
$snake-head-col: rgb(99, 201, 99);
$red-col: rgb(182, 7, 7);
$bg-col: rgb(255, 255, 255);
$main-col: rgb(253, 198, 15);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(68, 68, 68);
}

.game-container {
  width: 600px;
  height: 600px;
  border: 2px solid $main-col;
  background-color: $bg-col;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);

  &--dark {
    background-color: black;
  }
}

.game-result {
  flex-basis: 20%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $bg-col;
  border-bottom: 2px solid $main-col;
  border-top: 2px solid $main-col;
  border-left: 2px solid $main-col;
  text-align: center;

  &--dark {
    background-color: black;
    color: white;
  }

  &__options {
    height: 300px;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    font-size: 1.25rem;
  }

  &__score {
    flex-basis: 100%;
    text-align: center;
    background-color: $main-col;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__number {
    line-height: 30px;
  }

  &__select {
    font-size: 1rem;
    padding: 10px 0;
    line-height: 2rem;
  }

  &__option {
    flex-basis: 100%;
  }

  &__text {
    flex-basis: 100%;
  }
}

.snake {
  background-color: $snake-col;
}

.snake-head {
  background-color: $snake-head-col;
}

.apple {
  background-color: $red-col;
}

.button {
  flex-basis: 100%;
  cursor: pointer;
  font-size: 2rem;
  color: $red-col;
  border: none;
  background-color: transparent;
  outline: none;

  &--small {
    font-size: 1rem;
    flex-basis: 90%;
    margin-top: 20px;
  }

  &:hover {
    color: $main-col;
  }

  &:disabled {
    color: gray;
  }
}

.modal {
  width: 600px;
  height: 600px;
  position: absolute;
  font-size: 10rem;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &--dark {
    color: white;
  }

  &__img {
    width: 25%;
  }

  &__info {
    flex-basis: 100%;
    font-size: 2rem;
    padding: 10px 0;
    line-height: calc(2rem + 5px);
    background-color: rgba(0, 0, 0, 0.219);
  }

  &__info--transparent {
    background-color: transparent;
  }

  &__info--small {
    font-size: 1.5rem;
    flex-basis: 100%;
  }
}

.collision {
  animation: collision 750ms 0s 3 forwards;
}

@keyframes collision {
  0% {
    background-color: $snake-head-col;
  }
  50% {
    background-color: $red-col;
  }
  100% {
    background-color: $snake-head-col;
  }
}

.rotate-left {
  transform: rotate(-90deg);
  flex-basis: 50%;
}

.rotate-right {
  transform: rotate(90deg);
  flex-basis: 50%;
}
